
// Toolba One Style
#toolbar_one {
   .middle-content {
      position: relative;
      flex: 1;
      .search-icon {
         position: absolute;
         left: 5px;
         top: 50%;
         transform: translateY(-50%);
         font-size: 20px;
      }
      .search-input {
         background-color: $grey-3;
         padding: 7px 10px 7px 45px;
         width: 100%;
         border: 0;
         border-radius: 10px;
         font-size: 17px;
         color: $grey-14;
         letter-spacing: 1px;
      }
   }
}

// Swiper Dot Pagination
.swiper-wrapper, .products-swiper {
   .q-carousel__navigation-icon--inactive {
      opacity: 0.5 !important;
   }
   .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
   .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 8px;
   }
   .swiper-pagination-bullet-active {
      background-color: $grey-10;
   }
}

// color box
.color-box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}


// Sold range
.sold-range {
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  .first-range,
  .second-range {
     position: absolute;
     height: 100%;
  }
  .first-range {
     background: $secondary;
     width: 100%;
     opacity: 0.3;
  }
  .second-range {
     background: $primary;
     width: 65%;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
  }
  .content {
     position: relative;
     color: white;
     padding: 10px;
  }
}
